<div class="footer-container">
  </div>
    <div class="text-center p-3 navbar-dark bg-dark">
      <a class="nav-link text-white-50" href="https://github.com/murichristopher">Developed by MuriChristopher</a>
  </div>
</div>
