<nav class="navbar navbar-dark bg-dark navbar-expand-lg mb-4">
  <div class="container-fluid">
    <a class="navbar-brand fs-2" href="/">
      <img src="https://i.imgur.com/k73Yikv.png" style="width: 7rem"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto gap-2">
        <hr class="design-division">
        <li class="nav-item me-2">
          <a class="nav-link active" href="/">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
