<div class="navigation-area d-flex justify-content-between align-items-center">
  <h1 class="mb-2">Transportadoras</h1>
  <%= button_to "Cadastrar Transportadora", new_transport_company_path, {method: :get, class: "btn btn-outline-success"} %>
</div>
<hr>


<% @transport_companies.any? && @transport_companies.each do |transport_company| %>
    <%= transport_company.trading_name %>
        <%= transport_company.domain %>
<% end %>

<% if @transport_companies.empty? %>
  <p>Nenhuma transportadora cadastrada</p>
<% end %>
