body{
  font-size: 1.2rem;
  min-height: calc(100vh + 80rem);
}

.none{
  border: none;
  background-color: transparent;
  color: white;
}

body{
  position: relative;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding-top: 45px;
}

.scroll{
  max-height: 255vh;
  overflow: auto;
}

.design-division{
  background-color: white;
  border-bottom: 0px;
}

.home-button{
  padding: 2rem;
  color: white;
  font-size: 2rem;
}


.admin-dash .card{
  max-width: 18rem;
}

.centered{
  text-align: center;
}

.navigation-area{
  flex-wrap: wrap;
}

.card-title a{
  text-decoration: none;
  color: inherit;
}

/* status of work_orders */

.pendente{
  background-color: #ffc107;
  color: #fff;
}

.aceita{
  background-color: #0dcaf0;
}

.recusada{
  background-color: #dc3545;
  color: #fff;
}

.em_transporte{
  background-color: #fd7e14;
  color: #fff;
}

.recebida{
  background-color: #20c997;
  color: #fff;
}

