/* *{
  user-select: none;
} */

body{
  font-size: 1.3rem;
  position: relative;
  min-height: calc(100vh + 20rem);
  background-color: #fafafa;
}

header {
  position: sticky;
  top: 0;
}


footer {
  position: absolute;
  bottom:0;
  width:100%;
  height:60px;
}


.all_suppliers{
  height: 80vh;
  overflow: auto;
}

.design-division{
  background-color: white;
  border-bottom: 0px;
}

.home-button{
  padding: 2rem;
  color: white;
  font-size: 2rem;
}
