<div class="navigation-area d-flex justify-content-between align-items-center">
  <h1 class="mb-2">Olá!</h1>
  <%= button_to "Consultar Ordem de Serviço", new_transport_company_path, {method: :get, class: "btn btn-outline-success"} %>
</div>
<hr>

<div class="row scroll admin-dash ">




<div class="col-lg-4 mb-3">
<div class="card text-center">
  <img src="https://img.icons8.com/color/280/000000/search.png" class="card-img-top" alt="...">
  <div class="card-body">
    <%= link_to "Consultar Ordem de Serviço", root_path, class:"btn btn-outline-success" %>
  </div>
</div>
</div>




</div>
