<div class="navigation-area d-flex justify-content-between align-items-center">
  <h1 class="mb-2">Ordens de Serviço</h1>
  <% if current_admin %>
    <div class="navigation d-flex gap-2">
      <%# <%= button_to "Cadastrar Nova Ordem", new_work_order_path, {method: :get, class: "btn btn-outline-success"} %>
      <%= render 'budget_modal'%>
      <%= link_to "Consultar Ordem de Serviço", search_work_orders_path, class:"btn btn-outline-success" %>

    </div>
  <% end %>

</div>
<hr>



<% if @work_orders.any? %>
<div class="row scroll">
  <%= render 'cards' %>
</div>

<% else %>

<p>Nenhuma Ordem de serviço cadastrada</p>

<% end %>

